<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricultural Decision-Making</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles.css') }}">  
    <!--leaflet setup-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <!--https://unpkg.com/leaflet-virtual-grid/leaflet-virtual-grid.js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    
</head>
<body>
    <header>
        <h1>Welcome to the Earth Observation Data for Agriculture</h1>
    </header>

    <div class="container">
        <nav class="sidebar">
            <div class="menu-item">
                <label>
                    <input type="checkbox" id="rain-toggle" class="toggle-switch">
                    Rain
                </label>
            </div>
            <div class="menu-item">
                <label>
                    <input type="checkbox" id="tsunami-toggle" class="toggle-switch">
                    Tsunamis
                </label>
            </div>
            <div class="menu-item">
                <label>
                    <input type="checkbox" id="high-water-toggle" class="toggle-switch">
                    High Water Levels
                </label>
            </div>
            <div class="menu-item">
                <label>
                    <input type="checkbox" id="contamination-toggle" class="toggle-switch">
                    Water Contamination
                </label>
            </div>
        </nav>

        <section id="map-container">
            <h2>Data Fetching Section</h2>
            <p>This area will be populated with Earth observation data for agricultural insights.</p>
            <button onclick="fetchData()">Fetch Data</button>
            <div id="data-output"></div>

            <!-- leaflet map-->
            <!--Needs to have a height and width setup MANDATORY-->
            <div id="map"></div>

    
        </section>
    </div>


    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='styles.js') }}"></script>
    <!--leaflet setup-->
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="/static/node_modules/leaflet-virtual-grid/dist/virtual-grid.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>   
</body>
</html>
